name: Tests

on:
  pull_request:
  schedule:
  - cron: "0 15 * * SAT"

jobs:
  unit-tests:
    name: Unit Tests
    uses: canonical/operator-workflows/.github/workflows/test.yaml@main
    secrets: inherit
    with:
      self-hosted-runner: false
      vale-style-check: false
  integration-tests:
    name: Integration Tests
    uses: 
      canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      channel: 1.33-strict/stable
      charmcraft-channel: latest/edge
      juju-channel: 3.6/stable
      pre-run-script: tests/integration/prepare.sh
      self-hosted-runner: true
      self-hosted-runner-label: xlarge
      use-canonical-k8s: false
      provider: microk8s
      tmate-debug: false
      self-hosted-runner-image: jammy
      microk8s-addons: "dns registry:size=40Gi rbac storage ingress"
      tmate-timeout: '360'
  check-connector-sync:
    name: Check Connectors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-python@v6.2.0
        with:
          python-version: '3.14'
      - run: pip install tox
      - run: tox -e generate-connectors
      - run: git diff --exit-code
  allure-report:
    if: ${{ !cancelled() && github.event_name == 'schedule' }}
    needs:
    - integration-tests
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main
